body{
margin: 0;
padding: 0;
background:url(медиа/Анимка 2.mp.4);
}
.main{
color:white;
font-size:5vmin;
padding:20 5.5 0 0vmin;
text-align: center;
font-family: segoe script;
color: #740101;
}
header{
z-index: 1;
background-color:313030;
position: fixed;
height: 8vh;
width: 100vw;
justify-content: space-between;
}
.isol{
margin: 0 0 0 2dvw;
display: inline-block;
width:7.5vw;
height:7.5vh;
background-image: url(медиа/Снимок.jpg);
background-size: contain;
background-repeat: no-repeat;
}
.isol:hover{
background-image: url(медиа/Снимок1.jpg);
cursor: painter;
}
.isor{
margin: 0 0 0 2dvw;
display: inline-block;
background-image: url(медиа/Иконка.ico);
background-size: contain;
background-repeat: no-repeat;
width:8vw;
height:8vh;
transition-property: all;
transition-duration: 2s;
}
.isor:hover{
background-image: url(медиа/ИКОНКА2.ico);
cursor: painter;
}
.nav{
text-align: center;
vertical-align:top;
width:15vw;
height:10vh;
display: inline-block;
}
.email{
margin: 0;
padding: 0;
width:30wv;
height:7.5vh;
display:inline-block;
vertical-align:top;
}
.email:hover{
background-color: 626262;
}
.tel{
margin: 0;
padding: 0;
width:30wv;
height:7.5vh;
display:inline-block;
vertical-align:top;
}
.tel:hover{
background-color: 626262;
}
.all{
font-family: FRANKLIN GOTHIC MEDIUM;
font-size: 1.5dvw;
color: #ffffff;
text-decoration: none;
}
.all:hover{
color: #740101;
text-decoration: underline;
cursor: painter;
}
ul{
display: inline-block;
list-style-type: none;
margin: 0;
padding: 15 0;
}
#menu{
display: block;
}
#menu > li{
display: block;
background-color: 313030;
}
#menu > li:hover{
background-color:626262;
}
#menu > li > ul{
display: none;
background-color: 313030;
}
#menu > li:hover > ul{
display:block;
}
#menu > li > ul:hover{
background-color:626262;
}
#background-video {
width: 100vw;
height: 100vh;
object-fit: fill;
position: fixed;
z-index: -1;
}